<div id="divRegister">
                    <div class="form">
                        <h2>注册</h2>
                        <p>
                            <label for="txtUserName" class="label">用户名:</label>
                            <input id="txtUserName" type="text" class="textbox" />
                            <span id="valUserName" class="validator" style="display:none"></span>
                        </p>
                        <p>
                            <label for="txtPassword" class="label">密码:</label>
                            <input id="txtPassword" type="password" class="textbox" />
                            <span id="valPassword" class="validator" style="display:none"></span>
                        </p>
                        <p>
                            <label for="txtConfirm" class="label">确认密码:</label>
                            <input id="txtConfirm" type="password" class="textbox" />
                            <span id="valConfirm" class="validator" style="display:none"></span>
                        </p>
                        <p>
                            <label for="txtEmail" class="label">Email:</label>
                            <input id="txtEmail" type="text" class="textbox" />
                            <span id="valEmail" class="validator" style="display:none"></span>
                        </p>
                        <span id="registerMessage" class="message" style="display:none"></span>
                        <p>
                            <label class="label"></label>
                            <input id="btnRegister" type="button" class="button" value="注册" onclick="javascript:void(0)"/>
                        </p>
                    </div>
</div>